tr.tbl-row {
    transition: all .3s ease-in-out;

    & .action {
        cursor: pointer;
    }

    &:hover {
        background-color: #ededed !important;
        & > td.action {
            opacity: 1;
        }
    }

    & > td.action {
        text-align: center;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
}

thead > tr > th {
    cursor: pointer;
    text-align: center;

    &:hover {
        .sort {
            opacity: 1;
        }
    }

    .sort {
        opacity: 0;
    }
}
